

.clock{
    position: relative;

    width: var(--size);
    height: var(--size);

    margin-right: auto;
    margin-left: auto;

    border-radius: 50%;

    background-color: $dark-color;

    &::before,
    &::after{
        content: '';
        position: absolute;
        left: 50%;
        bottom: 50%;

        transform: translate(-50%, 50%);

        border-radius: 50%;
        background-color: $main-color;
    }
    &::before{
        width: calc(var(--size) / 20);
        height: calc(var(--size) / 20);
    }
    &::after{
        width: calc(var(--size) + 10px);
        height: calc(var(--size) + 10px);
        z-index: -10;
    }

    &__hands{
        position: absolute;
        bottom: 50%;
        transform-origin: bottom center;

        background-color: $main-color;

        &--hours{
            left: calc(50% - 3px);
            transform: rotate(var(--ht-hours));

            width: 6px;
            height: calc(var(--size) / 5);
        }

        &--minutes{
            left: calc(50% - 2px);
            transform: rotate(var(--ht-minutes));

            width: 4px;
            height: calc(var(--size) / 3.9);
        }

        &--seconds{
            left: calc(50% - 1px);
            transform: rotate(var(--ht-seconds));

            width: 2px;
            height: calc(var(--size) / 2.8);
        }
    }

    &__indice {
        position: absolute;
        left: 50%;
        transform-origin: 0 calc(var(--size) / 2);

        width: 4px;
        height: 10px;

        background: $light-color;
    
        @for $i from 1 through 12{

            &:nth-child(#{$i}){

                transform: rotate($i * 30deg);
        
                &::before {
                    content: "#{$i}";
                    position: absolute;
                    top: 220%;
                    left: -10px; // La mitad del width

                    width: calc(var(--size) / 10);
                    height: calc(var(--size) / 10);

                    color: $light-color;
                    text-align: center;
                    font-size: calc(var(--size) / 10);

                    transform: rotate(360deg - ($i * 30deg));

                    @media screen and (min-width: 450px) {
                        left: -17.5px
                    }

                    @media screen and (min-width: 750px) {
                        left: -27.5px
                    }
                }
            }
        }
    }
}