-const pageTitle = 'Analog clock'

//- SEO
-const author = 'Ramsua'
-const twitterName = '@RichardRamSua'
-const type = 'website'
-const description = 'Analog clock with JS and CSS'
-const keywords = 'Clock, HTML, CSS, JavaScript'
-const url = 'https://ramsua.github.io/clock-with-js-and-css/'
-const image = url + 'assets/images/clock.png'