h2#clock

.clock
    .clock__hands.clock__hands--seconds
    .clock__hands.clock__hands--minutes
    .clock__hands.clock__hands--hours
    
    .clock__indices
        -let n = 12
            while n--
                .clock__indice