*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    margin: 0;

    background-color: lighten($dark-color, 5%);
    color: $light-color;
    
    text-align: center;
    font-family: sans-serif;
}