:root { --size: 200px; --ht-hours:0; --ht-minutes:0; --ht-seconds:0; }

@media screen and (min-width: 450px) { :root { --size: 350px; } }

@media screen and (min-width: 750px) { :root { --size: 550px; } }

*, *::after, *::before { box-sizing: border-box; }

body { display: flex; align-items: center; justify-content: center; flex-direction: column; min-height: 100vh; margin: 0; background-color: #212121; color: #e1e1e1; text-align: center; font-family: sans-serif; }

.main-header { position: fixed; top: 0; left: 0; width: 100%; background-color: #141414; color: #44ba7d; }

.clock { position: relative; width: var(--size); height: var(--size); margin-right: auto; margin-left: auto; border-radius: 50%; background-color: #141414; }

.clock::before, .clock::after { content: ''; position: absolute; left: 50%; bottom: 50%; transform: translate(-50%, 50%); border-radius: 50%; background-color: #44ba7d; }

.clock::before { width: calc(var(--size + 20px)); height: calc(var(--size + 20px)); }

.clock::after { width: calc(var(--size) + 10px); height: calc(var(--size) + 10px); z-index: -10; }

.clock__hands { position: absolute; bottom: 50%; transform-origin: bottom center; background-color: #44ba7d; }

.clock__hands--hours { left: calc(50% - 3px); transform: rotate(var(--ht-hours)); width: 6px; height: calc(var(--size) / 5); }

.clock__hands--minutes { left: calc(50% - 2px); transform: rotate(var(--ht-minutes)); width: 4px; height: calc(var(--size) / 3.9); }

.clock__hands--seconds { left: calc(50% - 1px); transform: rotate(var(--ht-seconds)); width: 2px; height: calc(var(--size) / 2.8); }

.clock__indice { position: absolute; left: 50%; transform-origin: 0 calc(var(--size) / 2); width: 4px; height: 10px; background: #e1e1e1; }

.clock__indice:nth-child(1) { transform: rotate(30deg); }

.clock__indice:nth-child(1)::before { content: "1"; position: absolute; top: 220%; left: -20px; width: calc(var(--size) / 10); height: calc(var(--size) / 10); color: #e1e1e1; text-align: center; font-size: calc(var(--size) / 10); transform: rotate(330deg); }

.clock__indice:nth-child(2) { transform: rotate(60deg); }

.clock__indice:nth-child(2)::before { content: "2"; position: absolute; top: 220%; left: -20px; width: calc(var(--size) / 10); height: calc(var(--size) / 10); color: #e1e1e1; text-align: center; font-size: calc(var(--size) / 10); transform: rotate(300deg); }

.clock__indice:nth-child(3) { transform: rotate(90deg); }

.clock__indice:nth-child(3)::before { content: "3"; position: absolute; top: 220%; left: -20px; width: calc(var(--size) / 10); height: calc(var(--size) / 10); color: #e1e1e1; text-align: center; font-size: calc(var(--size) / 10); transform: rotate(270deg); }

.clock__indice:nth-child(4) { transform: rotate(120deg); }

.clock__indice:nth-child(4)::before { content: "4"; position: absolute; top: 220%; left: -20px; width: calc(var(--size) / 10); height: calc(var(--size) / 10); color: #e1e1e1; text-align: center; font-size: calc(var(--size) / 10); transform: rotate(240deg); }

.clock__indice:nth-child(5) { transform: rotate(150deg); }

.clock__indice:nth-child(5)::before { content: "5"; position: absolute; top: 220%; left: -20px; width: calc(var(--size) / 10); height: calc(var(--size) / 10); color: #e1e1e1; text-align: center; font-size: calc(var(--size) / 10); transform: rotate(210deg); }

.clock__indice:nth-child(6) { transform: rotate(180deg); }

.clock__indice:nth-child(6)::before { content: "6"; position: absolute; top: 220%; left: -20px; width: calc(var(--size) / 10); height: calc(var(--size) / 10); color: #e1e1e1; text-align: center; font-size: calc(var(--size) / 10); transform: rotate(180deg); }

.clock__indice:nth-child(7) { transform: rotate(210deg); }

.clock__indice:nth-child(7)::before { content: "7"; position: absolute; top: 220%; left: -20px; width: calc(var(--size) / 10); height: calc(var(--size) / 10); color: #e1e1e1; text-align: center; font-size: calc(var(--size) / 10); transform: rotate(150deg); }

.clock__indice:nth-child(8) { transform: rotate(240deg); }

.clock__indice:nth-child(8)::before { content: "8"; position: absolute; top: 220%; left: -20px; width: calc(var(--size) / 10); height: calc(var(--size) / 10); color: #e1e1e1; text-align: center; font-size: calc(var(--size) / 10); transform: rotate(120deg); }

.clock__indice:nth-child(9) { transform: rotate(270deg); }

.clock__indice:nth-child(9)::before { content: "9"; position: absolute; top: 220%; left: -20px; width: calc(var(--size) / 10); height: calc(var(--size) / 10); color: #e1e1e1; text-align: center; font-size: calc(var(--size) / 10); transform: rotate(90deg); }

.clock__indice:nth-child(10) { transform: rotate(300deg); }

.clock__indice:nth-child(10)::before { content: "10"; position: absolute; top: 220%; left: -20px; width: calc(var(--size) / 10); height: calc(var(--size) / 10); color: #e1e1e1; text-align: center; font-size: calc(var(--size) / 10); transform: rotate(60deg); }

.clock__indice:nth-child(11) { transform: rotate(330deg); }

.clock__indice:nth-child(11)::before { content: "11"; position: absolute; top: 220%; left: -20px; width: calc(var(--size) / 10); height: calc(var(--size) / 10); color: #e1e1e1; text-align: center; font-size: calc(var(--size) / 10); transform: rotate(30deg); }

.clock__indice:nth-child(12) { transform: rotate(360deg); }

.clock__indice:nth-child(12)::before { content: "12"; position: absolute; top: 220%; left: -20px; width: calc(var(--size) / 10); height: calc(var(--size) / 10); color: #e1e1e1; text-align: center; font-size: calc(var(--size) / 10); transform: rotate(0deg); }

