block config
    include ../config/vars
doctype html
html(lang="en")
    head
        title= pageTitle
        meta(charset="utf-8")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")

        //- META TAGS
        meta(name='author' content='Ramsua')
        meta(name='description' content='Analog clock with JS and CSS')
        meta(name='keywords' content='Movies, Buscador, API, JavaScript')

        //- OPEN GRAPH (Facebook)
        meta(property='og:title' content='Clock with Javascript and CSS')
        meta(property='og:type' content='website')
        meta(property='og:description' v='' content='Analog clock with JS and CSS')
        meta(property='og:url' content='https://ramsua.github.io/clock-with-js-and-css/')
        meta(property='og:image' content='https://ramsua.github.io/clock-with-js-and-css/assets/images/clock.png')

        //- TWITTER CARDS (Twitter)
        meta(name='twitter:card' content='summary_large_image')
        //- Tamaño de la imágen
        meta(name='twitter:site' content='@RichardRamSua')
        meta(name='twitter:creator' content='@RichardRamSua')
        meta(name='twitter:title' content='Clock with Javascript and CSS')
        meta(name='twitter:description' v='' content='Analog clock with JS and CSS')
        meta(name='twitter:image' content='https://ramsua.github.io/clock-with-js-and-css/assets/images/clock.png')
        //- Favicon
        link(rel='apple-touch-icon' sizes='180x180' href='./favicons/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='./favicons/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='./favicons/favicon-16x16.png')
        link(rel='icon' type='image/png' sizes='16x16' href='./assets/favicons/favicon.ico')
        link(rel='manifest' href='./favicons/site.webmanifest')

    body.body
        header.main-header
            h1.main-title= pageTitle
            
        main
            block main
